<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion del insecto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defautHref="/tab4"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="collectionInfo">
    <ion-card-header>
      <ion-card-title class="titulo">{{ collectionInfo.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="'assets/img/' + collectionInfo.img" alt="{{ collectionInfo.nombre }}">
      <p><strong>Daños en la Agricultura:</strong> {{ insectoInfo.Consecuencias }}</p>
      <p><strong>Prevención:</strong> {{ insectoInfo.Prevenir }}</p>
      <p><strong>Control:</strong> {{ insectoInfo.Control }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>  