<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="collectionInfo">{{ collectionInfo.nombre }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defautHref="tab4"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="collectionInfo">
  <div class="general-info-content">
    <div class="avatar-content">
      <ion-avatar class="custom-avatar">
        <img [src]="'assets/img/' + collectionInfo.img" alt="{{ collectionInfo.nombre }}" class="avatar-img">
      </ion-avatar>
    </div>
    <div class="general-info">
      <p><strong>Nombre Cientifico:</strong> {{ collectionInfo.nombreCientifico }}</p>
      <p>{{ collectionInfo.descripcion }}</p>
      <p><strong>Características:</strong> {{ collectionInfo.caracteristicas }}</p>
      <p><ion-icon name="location-outline"></ion-icon> {{ collectionInfo.region }}</p>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="titulo">Daños que causa</ion-card-title>
          </ion-card-header>
          <ion-card-content class="collection-card">
            <p>{{ collectionInfo.danos }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-card node="ios">
          <ion-card-header>
            <ion-card-title class="titulo">Cultivos o animales afectados</ion-card-title>
          </ion-card-header>
          <ion-card-content class="collection-card">
            <p>{{ collectionInfo.afectados }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-card node="ios">
          <ion-card-header>
            <ion-card-title class="titulo">Métodos de control</ion-card-title>
          </ion-card-header>
          <ion-card-content class="collection-card">
            <p>{{ collectionInfo.control }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>