.card-background {
    background-color: #2f613e;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    padding: 0 20px;
    border-radius: 0;
}

.card-label {
    color: #f0f0f0;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.header-content {
    display: flex;
    min-height: 60px;
    align-items: center;
}

.body-content {
    margin: 25px 20px;
}

ion-list {
    margin-top: 15px;
}

ion-item {
    --inner-border-width: 0px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px;
}

ion-item:hover {
    background-color: rgba(7, 70, 44, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

ion-item:active {
    background-color:  rgba(7, 70, 44, 0.1);
}