ion-tab-bar,
ion-tab-button {
    background-color: rgb(18, 129, 92);
}

ion-icon,
ion-label {
    color: #ffffff;
}

ion-tab-button.tab-selected {
    background-color: rgb(12, 92, 65);
}

@media (max-width: 400px) {
    ion-label {
        font-size: 10px;
        /* Tamaño de los íconos más pequeño en pantallas pequeñas */
    }
}