ion-tab-bar,
ion-tab-button {
    background-color: #4CAF50;
}

ion-icon,
ion-label {
    color: #ffffff;
}

ion-tab-button.tab-selected {
    background-color: rgb(27, 129, 52);
}

@media (max-width: 400px) {
    ion-label {
        font-size: 10px;
        /* Tamaño de los íconos más pequeño en pantallas pequeñas */
    }
}