ion-toolbar {
    --background: rgb(18, 129, 92);
    padding-right: 10px;
    ion-title {
        color: white;
    }
    img {
        height: 40px;
        width: 40px;
    }
}

ion-content {
    --background: rgb(255, 255, 255);
}

p {
    color: black;
}

.welcome-message-content {
    margin: 0px 25px;
    margin-top: 30px;
    margin-bottom: 5px;
    p {
        margin: 0;
    }
}

ion-card {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(20, 20, 20);
}

.custom-btn {
    --background: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    img {
        max-height: 100%;
        width: auto;
    }
    p {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }
    .logo {
        height: 200px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}