<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Descripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="descripcion">
        Esta aplicación utiliza <strong>Teachable Machine</strong> para reconocer imágenes y determinar el tipo de insecto que aparece en
        ellas. Además, proporciona información detallada sobre el insecto identificado.
        Dentro de la aplicación, también puedes acceder a un directorio que incluye información sobre insectos
        peligrosos para la agricultura, ayudándote a identificar cuáles representan una amenaza.
        La aplicación usa un conjunto de datos hecho por los desarrolladores y otro que se obtuvo de <a
          href="https://www.kaggle.com/datasets/tarundalal/dangerous-insects-dataset" target="_blank" rel="noopener noreferrer">Kaggle</a>.
      </p>
      <ion-card-subtitle class="titulo">¿Cómo usar la aplicación?</ion-card-subtitle>
      <ol>
        <li>Dirígete a la sección Teachable Machine.</li>
        <li>Sube la imagen del insecto que deseas identificar.</li>
        <li>Presiona el botón Identificar Insecto.</li>
        <li>La aplicación mostrará toda la información relevante sobre el insecto.</li>
      </ol>
      <p>Esta aplicación fue desarrollada por Christopher Villón y Génesis Lopez</p>
    </ion-card-content>
  </ion-card>
</ion-content>