ion-toolbar {
    --background: rgb(18, 129, 92);
    padding-right: 10px;
    ion-title {
        color: white;
    }
    img {
        height: 40px;
        width: 40px;
    }
}

ion-content {
    --background: rgb(255, 255, 255);
}

ion-card {
    padding: 15px 5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(20, 20, 20);
}

ion-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p, li, .titulo {
    color: black;
}

p {
    line-height: 1.5;
}

.titulo {
    font-weight: bold;
    text-align: center;
}

p#descripcion {
    text-align: justify;
}